<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="sub-footer-inner">
                    <div class="footer-block">
                      <a href="/impressum"><br/>Impressum</a>
                    </div>
                    <div class="footer-block">
                      <a href="https://h-net.social/@metagrid_ch" target="_blank" rel="me"><br/>Status Updates</a>
                    </div>
                    <div class="footer-block"><a href="https://www.dodis.ch" target="_blank"><img src="/images/Dodis_powered-by-bl.svg" alt="dodis" style="max-height: 3em; margin: 6px;"></a>
                    </div>
                    <div class="footer-block"><a href="https://www.sagw.ch/" target="_blank"><img src="/images/logo-sagw.png" alt="sagw" style="max-height: 3em; margin: 6px;"></a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
