<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li>
              <p><a href="/impressum" >Impressum</a><br/>
                 <a href="https://www.dodis.ch" target="_blank"><img src="/images/logo-dodis.png" alt="dodis" style="max-height: 1.5em; margin: 6px;"/></a><br/>
                 <a href="https://www.sagw.ch/" target="_blank"><img src="/images/logo-sagw.png" alt="sagw" style="max-height: 1.5em; margin: 6px;"/></a><br/>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
